<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcnproject.yashdani.chipin">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/chipinlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".HomePageWithNav"
            android:label="Chip IN"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@drawable/chipin_logo1"/>
        <activity
            android:name=".AddTransactionWithNav"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Add Transaction"
            android:icon="@drawable/chipin_logo1"/>
        <activity
            android:name=".AddGroupWithNav"
            android:label="Add Group"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@drawable/chipin_logo1"/>
        <activity
            android:name=".GroupView"
            android:icon="@drawable/chipin_logo1"
            />
        <activity
            android:name=".ViewContactInGroup"
            android:label="Participants"
            android:icon="@drawable/chipin_logo1" />
        <activity
            android:name=".AddMemberInGroup"
            android:icon="@drawable/chipin_logo1"
            android:label="Add Members" />
        <activity
            android:name=".PopPay"
            android:icon="@drawable/back"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ProfileView"
            android:icon="@drawable/chipin_logo1"
            android:label="@string/title_activity_profile_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddBalanceActivity"
            android:icon="@drawable/chipin_logo1"/>
    </application>

</manifest>